<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% block headItem %} {% endblock %}
    {% block stylesheets %}{% endblock %}
    <style>
        .sidebar{
            margin-top: 70px;
            height: 100vh; /* This sets the height of the sidebar to 100% of the viewport height */
            overflow-y: auto; /* This enables vertical scrolling if the content exceeds the height */
        }
        
        main{
            margin-top: 70px;
        }

    </style>
    {{ ckeditor.load() }}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Learning Management System</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item"><a class="nav-link" href="/dashboard/content">Content Dashboard</a></li>
                                <li class="nav-item"><a class="nav-link" href="/dashboard/learner">Learner Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/task">Tasks</a>
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item"><a class="nav-link" href="/task/view_tasks">View Tasks</a></li>
                                <li class="nav-item"><a class="nav-link" href="/task/create_new_task">Create New Task</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Courses">Courses</a>
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item"><a class="nav-link" href="/course/view_contents">View Contents</a></li>
                                <li class="nav-item"><a class="nav-link" href="/course/add_new_content">Add New Content</a></li>
                                <li class="nav-item"><a class="nav-link" href="/course/view_courses">View Courses</a></li>
                                <li class="nav-item"><a class="nav-link" href="/course/create_new_course">Create New Course</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Learners">Learners</a>
                            <ul class="nav flex-column ml-3">
                                <li class="nav-item"><a class="nav-link" href="/learners/view_learners">View Learners</a></li>
                                <li class="nav-item"><a class="nav-link" href="/learners/view_activities">View Activity</a></li>
                                <li class="nav-item"><a class="nav-link" href="/learner">Go To Learner View</a></li>
                            </ul>
                        </li>
                        <!-- Repeat for other menu items -->
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="breadcrumb">
                    {% block breadcrumb %}{% endblock %}
                </div>
                <div class="content container-fluid-2">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}   
</body>
</html>
