{% extends "learner_base.html" %}
{% block stylesheets %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .filter-sidebar {
        border-right: 1px solid #ddd;
        height: 100vh;
        padding-right: 20px;
    }

    .course-card {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .course-image {
        height: 180px;
        object-fit: cover;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.1rem;
        margin-bottom: .5rem;
    }

    .card-text {
        font-size: .9rem;
        color: #555;
    }

    .course-rating {
        color: #f4c150;
        /* A gold-like color for the stars */
    }

    .course-info {
        font-size: .8rem;
        color: #777;
    }

    .card-img-top {
        height: 200px;
        /* or any specific height you prefer */
        width: auto;
        /* to maintain aspect ratio */
        object-fit: cover;
        /* to handle different aspect ratios without distortion */
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        flex: 1;
        /* Other styling for your cards */
    }
</style>
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Welcome to Our Online Courses</h1>
        <p class="lead">Start learning today with our wide range of courses!</p>
    </div>
</div>

    <!-- Side Panel for Filtering -->
    <!-- <div class="col-md-2 filter-sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Filter 1</a>
            <a href="#" class="list-group-item list-group-item-action">Filter 2</a>
        </div>
    </div> -->
<div class="container">
    <h3>Shelf One</h3>
    <!-- Course Cards -->
        <div class="row shelf_one">
            {% for course in courses %}
            {% if course.is_shelf_one %}
            <div class="col-md-3">
                <div class="card course-card">
                    <img class="card-img-top" src="/{{ course.course_display_image }}" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description | safe }}</p>
                        {% if course.id in enrolled_course_ids %}
                        <a href="/course/{{ course.id }}" class="btn btn-success">Resume</a>
                        {% else %}
                        <a href="/course/{{ course.id }}" class="btn btn-primary">Go to Course</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <h3>Shelf Two</h3>
        <!-- Course Cards -->
            <div class="row shelf_two">
                {% for course in courses %}
                {% if course.is_shelf_two %}
                <div class="col-md-3">
                    <div class="card course-card">
                        <img class="card-img-top" src="{{course.course_display_image }}" alt="Course Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description | safe }}</p>
                            {% if course.id in enrolled_course_ids %}
                            <a href="/course/{{ course.id }}" class="btn btn-success">Resume</a>
                            {% else %}
                            <a href="/course/{{ course.id }}" class="btn btn-primary">Go to Course</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <h3>Shelf Three</h3>
            <!-- Course Cards -->
                <div class="row shelf_three">
                    {% for course in courses %}
                    {% if course.is_shelf_three %}
                    <div class="col-md-3">
                        <div class="card course-card">
                            <img class="card-img-top" src="{{course.course_display_image }}" alt="Course Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <p class="card-text">{{ course.description | safe }}</p>
                                {% if course.id in enrolled_course_ids %}
                                <a href="/course/{{ course.id }}" class="btn btn-success">Resume</a>
                                {% else %}
                                <a href="/course/{{ course.id }}" class="btn btn-primary">Go to Course</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>



<!-- Footer -->
<footer class="text-muted py-4 bg-dark text-center">
    <div class="container">
        <p class="mb-0">Footer Information</p>
    </div>
</footer>

{% endblock %}
{% block script %}
<script>
    console.log(course.course_display_image);
</script>
{% endblock %}