{% extends 'base.html' %}

{% block content %}
    <h2>User List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Learner ID</th>
                <th>Learner Name</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.usertype }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}